body {
  font-family: Arial;
  background: #f2f2f2;
}

.login-box {
  width: 300px;
  margin: 120px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px;
}

button {
  width: 95%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
}

button:hover {
  background: #0056b3;
}
